@import url(http://fonts.googleapis.com/css?family=Roboto);

h1{
    margin-left: 40px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 2em;
    margin-left: 40px;
}

a{
    font-family: 'Roboto', sans-serif;
    margin: 25px 25px;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    /* Prevent highlight colour when element is tapped */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  
    /* Smooth fonts */
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

body {
    display: block;
    margin: 0;
    padding: 40px 0 0 0;
    font-family: sans-serif;
    color: #333;
    line-height: 140%;
}

.hvr-grow{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active{
    -webkit-transform: scale(2);
    transform: scale(2);
    background-color: aqua;
}

.hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.6s;
    transition-property: transform;
}

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active{
    transform: scale(0.5);
    background-color: yellowgreen;
}